<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-context-browser/px-context-browser.html">

<link rel="import" href="../../bower_components/px-sample-cards/blank-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/px-dropdown/px-dropdown.html">
<link rel="import" href="../../bower_components/px-dropdown/px-dropdown-content.html">
<link rel="import" href="../../bower_components/px-modal/px-modal.html">
<link rel="import" href="../../bower_components/px-card/px-card.html"> 
<link rel="import" href="../content-header/content-header.html">
<dom-module id="modal-view">
    <style type="text/css">
      #modal.modal__content {width:100%;}
    </style>
    <template>
        <!-- <iron-ajax id="getResourceIronAjax" url="https://jpa-rsm.run.aws-usw02-pr.ice.predix.io/resources/" last-response="{{_ResourceContext}}">
        </iron-ajax> -->
        <content-header title="Blank Card" style="display: block; margin-bottom: 6px;"></content-header>
        
        <px-card id="myCard">
          <div class="row">
              Update Resource Info
              <paper-input id="resourceId" name="resourceIdTxt" class="col-xl-6 col-md-6 col-sm-6" label="resourceIdTxtLbl" required></paper-input>
              <paper-button class="col-xl-6 col-md-6 col-sm-6" raised onclick="_getResourceInfo()">Submit</paper-button>
          </div>
          <a href="javascript:void(0)" onclick="gotoLink()">Goto GE.com?</a>
          
          <px-modal class="u-1/3" id="modal" modalId="modal" btn-modal-positive="Continue" btn-modal-negative="Back" modal-heading="Sign-in required" btn-modal-negative-clicked-event-name="btnModalNegativeClicked" btn-modal-positive-clicked-event-name="btnModalPositiveClicked">

              <button class="btn btn--primary style-scope modal-trigger"> <iron-icon icon="fa:fa-box"></iron-icon> New Digital Twin </button>


              <div  class="u-1"> <p> Name </p> <input id="inpNme" class="text-input input--regular" type="text" placeholder="" value="Untitled Twin"/></div>
              <a href="javascript:void(0)" class="modal-trigger">Open Modal</a>
              <p>
                  <b>Please sign-in to access this part of the application.</b>
              </p>
              <p><em>Two</em>Lorem ipsum dolor sit amet, </p>
              <h2>Header</h2>
              <form is="iron-form" method="get" action="/" id="basic">
                  <paper-input name="name" label="Name" required></paper-input>
                  <br>
                  <input type="checkbox" name="food" value="donuts" checked> I like donuts
                  <br>
                  <input type="checkbox" name="food" value="pizza" required> I like pizza
                  <br>
                  <paper-checkbox name="food" value="cheese" required>I like cheese</paper-checkbox>
                  <br>
                  <px-dropdown display-value="Text">
                      <px-dropdown-content class="px-dropdown-content" max-cont-character-width="10" extend-dropdown="true" extend-dropdown-by="15" items='[{"key":"one", "val": "One"}, {"key":"two", "val": "Two"}, {"key":"three", "val": "Three"}, {"key":"four", "val": "How now brown cow"}]'>
                      </px-dropdown-content>
                  </px-dropdown>
                  <paper-button raised onclick="_submit(event)">Submit</paper-button>
                  <paper-button raised onclick="_reset(event)">Reset</paper-button>
                  <div class="output"></div>
              </form>
          </px-modal>
        </px-card>
    </template>
    <script>
      Polymer({
          is: 'modal-view',
          properties: {},
          ready: function() {
              console.log('modal-view ready()');
              // Polymer.dom(this).querySelector('#modal')
              // gotoLink(null);
          },
          _submit: function(e) {
              alert('submit');
          },
          _reset: function(e) {
              alert('reset');
          }
      });

      var _getResourceInfo =  function(){
            //window.abc = this.$$("#resourceId");
            console.log(document.querySelector("#resourceId"));
          };
      var _submit = function(e) {
          alert('submit');
      };

      function gotoLink(evt) {
          document.getElementById('modal').modalButtonClicked();
      }

      window.addEventListener('WebComponentsReady', function(e) {
          document.getElementById('modal').addEventListener('btnModalPositiveClicked', function(e) {
              console.log(e);
              alert("positive");
              // console.log(document.getElementById('basic'));
              // window.location.href = 'https://www.ge.com';
          });

          document.getElementById('modal').addEventListener('btnModalNegativeClicked', function(e) {
              console.log(e);
              alert("negative");
              // window.location.href = 'https://www.ge.com';
          });
      });
    </script>
</dom-module>
