<!--link rel="import" href="../../bower_components/px-sample-cards/blank-card.html" -->
<link rel="import" href="../../bower_components/px-context-browser/px-context-browser.html">
<link rel="import" href="../../bower_components/px-deck-selector/px-deck-selector.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">


<dom-module id="rsm-combobox">
    <style is="custom-style">
   
       :root {
            --paper-input-container: {
                min-width: 324px;
                width: 324px;
                margin-right: 24px;
            }
            ;
        }
           
        .field-container {
            position: relative;
            display: block;
            padding: 8px 0;
            min-width: 324px;
            width: 324px;
            margin-right: 24px;
        }
        
        .field {
            display: block;
            width: 100%;
            padding: 0px;
            border: none;
            border-bottom: 1px solid #737373;
            -webkit-font-smoothing: antialiased;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 100%;
            box-sizing: border-box;
            cursor: pointer;
            
            
            
        }
        
        .field:focus {
            outline: 0;
        }
        
        .floating-label {
            position: absolute;
            pointer-events: none;
            font-size: 12px;
            opacity: 0;
            background-color: white;
            -webkit-transition: 0.2s ease-in-out;
            transition: 0.2s ease-in-out;
            -webkit-font-smoothing: antialiased;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 400;
            letter-spacing: 0.011em;
            line-height: 20px;
        }
        
        .field:valid + .floating-label {
            opacity: 1;
            top: -5px;
            color: #737373;
        }
        
        .field:focus + .floating-label {
            color: #3f51b5;
        }
        
        .field-underline {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: -5px;
            border-bottom: 1px solid #737373;
            z-index: -1;
            padding: 10px 10px 0;
        }
        
        .field:focus + .floating-label + .field-underline {
            border-color: #3f51b5;
        }
        
        select {
            height: 42px;
            line-height: 30px;
            width: 50%;
            border: 0px;
            border-bottom: 1px solid;
            
        }
        
        option:checked {
            background-color: linear-gradient(#5A2569, #5A2569);
        }
        /* turn it off completely */
        
        select:hover {
            outline: none
        }
        
        select:focus {
            border-bottom: 1px solid #3f51b5;
            outline: none
        }
        
        select:invalid {
            color: gray;
        }
        /* make it red instead (with with same width and style) */
        
        select:active {
            border: 0px;
            border-bottom: 2px solid #3f51b5;
            outline: none
        }
        
        option:checked {
            outline: none;
        }
        .dis{
        display:none;
        }
        option{
        background:#d1d0d8;
        color:#000;
        
        }
        .layout{
             margin: 0% 15%;
        }
		
		.input-45 paper-input {
        width: 35%;
        margin: 0% 7%;
        float: left;
        display: block;
    }
	    .input-45 .field-container {
      
        float: left;
        display: block;
    }  
	
	  .row::after {
			content: "";
			clear: both;
			display: table;
		}
        
    </style>
    <template id="user">
         <iron-ajax id="fetchProjects" method="GET" url="" content-type="application/json" handle-as="json" last-response="{{_resourcesContext}}" on-response='fillCombobox'>
        </iron-ajax>   
      <div class="input-45 row">                                        
      <div class="field-container">
    <select data="{{_projectsArr}}"  class="field" id="sel" name="projectAssignment" required on-change="updateType">
        <option value="" class="" disabled selected>Project Assignment</option>
    </select>
    <label class="floating-label">Project Assignment</label>
    <div class="field-underline"></div>
    </div>
     <paper-input name="project_Type" id="pt_Id" label="Project Type" value="" readonly></paper-input>                  
    </div>     

    </template>
    <script>

        Polymer({
            is: 'rsm-combobox',
            properties : {
			  _initialProjectContext: {
                type: Object,
                computed: '_computeInitialProjectContext(_resourcesContext)'
            },
			_projectsArr : {
			  type: Array,
			  notify: true
			}
			
			},
            ready: function() {
			this.getProjects();
			} ,
			
			getProjects: function() {
				//set the value of loading to true just before generating request
				this.$.fetchProjects.url = "https://rsm.run.aws-usw02-pr.ice.predix.io/project";
				this.$.fetchProjects.generateRequest();
           },
		   
		   fillCombobox : function(){
		 console.log('pt_Id----------',this.pt_Id);
			var len = this._projectsArr.length;
			var select = this.$$("#sel");
			
		     for(var i = 0; i <= len - 1; i++) {      	 
				option = document.createElement("option");
				option.value = this._projectsArr[i].id;
				option.innerHTML = this._projectsArr[i].projectAssignment;
				select.appendChild(option);			
         }		 
	     console.log('ready select final ---',select);	
		 console.log("--ready combo--");
		   
		   },

		 _computeInitialProjectContext: function(_resourcesContext) {
		 console.log('_resourcesContext',_resourcesContext);
		 this._projectsArr = _resourcesContext;
		  // return _resourcesContext;
		 },
		 
		 updateType : function (e){
		 	 console.log('--Updating projectType--');
		 var arr = e.target.data;
		 var e_id = e.target.value;
		 var len = arr.length;
		 var input = this.$$('#pt_Id');
		 for( var i = 0 ;i <= len - 1 ; i++){
		 var id = (arr[i].id).toString();
		  console.log('id',id);	
		    if(id === e_id){
			console.log(arr[i].project_Type);
			 input.value = arr[i].project_Type;
			}
		 }
		 
		 }
		
        });
		
		function  updateType(e){
		 console.log('--Updating projectType--');
		 var arr = e.target.data;
		 var e_id = e.target.value;
		 var len = arr.length;
		 var input = document.getElementById('pt_Id');
		 for( var i = 0 ;i <= len - 1 ; i++){
		 var id = (arr[i].id).toString();
		  console.log('id',id);	
		    if(id === e_id){
			console.log(arr[i].project_Type);
			 input.value = arr[i].project_Type;
			}
		 }
		}
    </script>
</dom-module>